@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background: #1F1F1F;
    font-family: Poppins;
}
h1 {
    font-size: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
}
h2 {
    font-size: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
}
h3 {
    font-size: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
}
h4 {
    font-size: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
}
h5 {
    font-size: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
}
p {
    font-size: clamp(0.9rem, 2vw, 1rem);
}
.primary-grad-to-br {
    background: linear-gradient(to bottom right, #28e98c, #0f8a4f);
}
.rounded-e-4xl {
    border-start-end-radius:10rem;
    border-end-end-radius: 10rem;
}
.rounded-t-4xl {
    border-start-start-radius: 10rem;
    border-start-end-radius: 10rem;
}
.rounded-b-4xl {
    border-end-start-radius: 10rem;
    border-end-end-radius: 10rem;
}
label:hover svg,
li:hover svg {
    fill: #478CDA;
}
li:hover time {
    color: #478CDA;
}
#bg-polygon {
    z-index: -0.1;
}
#drawer-sidebar {
    z-index: 1;
}
#hero {
    z-index: 0.9;
}
.hover-text span.hover-img{
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hover-text:hover span.hover-img{
    display: block;
}
